

.section__nav {
    background-image: linear-gradient(to bottom, rgba($bg-color, 0.99), transparent);
    width: 100%;
    padding: 25px 10px 10px 10px;
    position: absolute;
    margin-bottom: 25px;
    top: 0;
    z-index: 50;
    .block__navbar-nav {
        width: 100%;
        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-decoration: none;
                margin: 0 20px 20px 20px;
                padding: 0 10px;
                font-size: 1.6rem;
                @include link($white, $secondary);
                a {
                    text-transform: lowercase;
                }
                .link-icon {
                    font-size: 4rem;
                }
            }
        }
    }
    .block__navbar-header {
        padding-bottom: 20px;
        a {
            font-size: 2rem;
        }
    }
}


.section__nav.route-index nav li {
    color: $ambient-grey;
}
.section__nav.route-projects nav li {
    color: $pastegrey;
}
.section__nav.route-skills nav li {
    color: $isabelline;
}
.section__nav.route-game nav li {
    color: $mirage;
}
.section__nav.route-thoughts nav li {
    color: $silver-lining;
}

