

.main__projects-container {
    display: block;
    position: relative;
    top: 150px;
    margin-bottom: 50px;
    overflow: hidden;
    @media #{$mediumMax} {
        padding: 0 40px;
    }

    .section__projects {
        background-color: $bg-color-alt;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        @media #{$smallMax} {
            padding: 0 5%;
            width: calc(100% - 60px);
        }
    }
}

