

.main__projects-container {
    display: block;
    position: relative;
    top: 0;
    margin-bottom: 50px;
    overflow: hidden;
    @media #{$mediumMax} {
        padding: 0 40px;
    }

    .section__projects {
        background-color: $bg-color-alt;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        @media #{$smallMax} {
            padding: 0 5%;
            width: calc(100% - 60px);
        }
        
        .block__project-header {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding-bottom: 30px;
            padding-top: 30px;
        }
    }
    .block__project {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 0 50px;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 30px;
        @media #{$smallMax} {
            padding: 0 5%;
            width: calc(100% - 60px);
        }
        .block__single-project {
            margin: 20px 0;

            .block__single-project-header {
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;
                .img__project-icon {
                    width: 20px;
                    margin: 5px 10px 5px 0px;
                }
            }
            .block__single-project-description, .block__single-project-description p {
                text-align: left;
                font-size: 1.6rem;
                margin-bottom: 10px;
                padding: 10px;
                .block__project-link {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    margin-left: 10px;
                    svg {
                        margin-right: 10px;
                    }
                    .link__project {
                        @include link();
                        font-size: 1.4rem;
                    }
                }
            }
            .block__project-image-container {
                width: 100%;
                .img__project-image {
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }
}

