::selection {
    background: $secondary;
}

html {
    font-size: 62.5%;
}

body {
    background-position: bottom;
    background-attachment: fixed;
    button:focus {
        outline: none;
    }
}

// li[class^='link'], li[class*=' link'] {
//     text-decoration: none;
//     color: $link;
//     user-select: none;
//     transition: color linear 600ms;
//     cursor: pointer;
//     &:hover, &:active {
//         color: $linkactive;
//         transition: color linear 600ms;
//     }
// }

p, body, div, section {
    font-family: $body-font;
    font-size: 1.8rem;
}

i {
    font-family: $cursive-font;
    font-style: italic;
}

b {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: $title-font;
    font-weight: 700;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2.4rem;
    // font-style: italic;
}

h4 {
    font-size: 2.2rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.8rem;
}

hr {
    width: 100%;
    border: none;
    border-top-color: $text-alt;
    border-top-width: 2px;
    border-top-style: solid;
}

.display-none {
    display: none;
}
.hidden {
    position: absolute;
    bottom: -1000px;
    left: -1000px;
}

.tab {
    &:hover {
        cursor: pointer;
    }
}


ul {
    list-style: disc;
    list-style-position: outside;
    padding: 0 10px;
    margin-left: 25px;
}

li {
    text-decoration: none;
}

