


.section__foggy-container {
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    overflow: hidden;
    .section__foggy {
        background-size: cover;
        background-position: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        .block__greeting {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 10;
            strong {
                font-size: 10vw;
                color: $text-emphasis;
                // text-shadow: 0 0 24px $shadows; // OG
                // text-shadow: 4px 3px 0px $shadows, 9px 8px 0px rgba(0,0,0,0.15); // Double shadow
                text-shadow: 
                    0px 1px 0px $text-alt, // Down and distant 3d
                    0px 0px 6px rgba(0, 0, 0, 0.3), 
                    0px 10px 10px rgba(0, 0, 0, 0.1), 
                    0px 14px 20px rgba(0, 0, 0, 0.1), 
                    8px 20px 35px rgba(0, 0, 0, 0.1), 
                    -8px 20px 35px rgba(0, 0, 0, 0.1); 
                            
                // text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                //  10px 20px 5px rgba(0,0,0,0.05),
                //  -10px 20px 5px rgba(0,0,0,0.05);

                opacity: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                line-height: 0.85;
                @include anima-spaceOut();
                @media #{$desktop} {
                    font-size: 15rem;
                }
                .block__subtitle {
                    font-family: $body-font;
                    font-size: 3.5vw;
                    font-style: italic;
                    letter-spacing: 0;
                    animation: none;
                    color: $text;
                    @media #{$desktop} {
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}


.section__scroller-container {
    position: absolute;
    width: 100%;
    height: 100%;
    .block__scroller {
        top: 0;
        opacity: 0.30;
        z-index: 0;
        position: absolute;
        strong {
            color: rgba($white, 0.05);
            font-family: $cursive-font;
            font-size: 100vw;
            text-transform: uppercase;
            user-select: none;
        }
    }
}

.section__scroller-container.scroller-top {
    top: -80vh;
    transform: rotate(-25deg);
    .block__scroller {
        transform: translateX(-58%);
        @include anima-bigScroll($runtime: 46s, $aniname: bigScrollTop);
        strong {
            text-shadow: 0 0 160px rgba($slackfgalt, 0.9);
        }
    }
}

.section__scroller-container.scroller-middle {
    top: -15vh;
    transform: rotate(-22deg);
    .block__scroller {
        transform: translateX(15%);
        @include anima-bigScroll($runtime: 80s, $aniname: bigScrollMiddle);
        strong {
            text-shadow: 0 0 132px rgba($slackfg, 0.85);
        }
    }
}

.section__scroller-container.scroller-bottom {
    bottom: -10vh;
    transform: rotate(-6deg);
    .block__scroller {
        transform: translateX(-70%);
        @include anima-bigScroll($runtime: 25s, $aniname: bigScrollBottom);
        strong {
            text-shadow: 0 0 88px $white;
        }
    }
}

